.App {
  text-align: center;
}
.desktop {
  border: 1px solid gray;
}

.addTaskContainer {
  width: 20em;
  margin-bottom: 2em;
}
.stages {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5rem;
}
.stageCard {
  width: 20%;
  background-color: lightblue !important;
}
.row {
  margin-bottom: 0.5em;
}
ul {
  list-style-type: none;
}
.task {
  margin-bottom: 0.5em;
  margin-right: 1.6rem;
  padding: 1em;
}
.taskButtons {
  display: flex;
  flex-direction: row;
}
